html{
	font-size:12px;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	display:flex;
	flex-direction: column;
	overflow-x: hidden;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	background-color: #90aa92;
}

a {
  display: inline-block;
  background: transparent;
}

h1, h2{
  text-align: center;
}

.container {
  max-width:1400px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.header-item {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-end;
  background-color: #93e0a3;
  padding: 20px 50px;
  width: 100%;
}

.navigator{
 display:flex;
 flex-wrap:wrap;
}

.navigator-item{
  margin:6px 18px;
  font-size: 12px;
  color:azure;
}

.main-item {
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  background-color: #d1ffe1;
}

.about-span{
  margin-left:50px;
}

.code-example{
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  color:blue;
  padding:20px;
}

.avatar-image{
  border-radius: 100px;
}

.div-inner{
  margin: 0px 60px 20px;
}

.footer-item{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #93e0a3;
  padding: 40px 160px;
  width:100%;
}

.footer-item a {
  color: #99dd99
}


